@import url('https://fonts.googleapis.com/css?family=Audiowide|Black+Ops+One|Roboto&display=swap');

body {
    background: rgba(198, 148, 235, 0.822);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Audiowide', cursive;
}
.clickable {
    cursor: pointer;
}