@import url('https://fonts.googleapis.com/css?family=Audiowide|Black+Ops+One|Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background: ivory;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    border-bottom: 2px solid silver;
    background: rgba(77, 204, 243, 0.863);
}
header h1 {
    padding: 5px 10px;
}
article {
    margin: 0px;
    padding: 5px 10px;
}
footer {
    margin: 0px;
    border-top: 2px solid silver;
    padding: 5px 10px;
}
h1 {
    font-family: 'Audiowide', cursive;
    margin: 0px;
    display: inline;
}
h2 {
    margin: 5px 0;
}
h3 {
    margin: 5px 0;
}
ul {
    padding: 0 0 0 20px;
    margin: 16px 0 8px 0; 
}
li {
    margin: 3px 0;
}
.clickable {
    cursor: pointer;
}
.header-image {
    width: 45%;
    background-image: url('https://s.yimg.com/uu/api/res/1.2/RfyiVgwUK7kbrw02vVqHFQ--~B/aD0xMTM3O3c9MTY4NztzbT0xO2FwcGlkPXl0YWNoeW9u/http://media.zenfs.com/en_US/News/US-AFPRelax/istock_21639071.43a40124246.original.jpg');
    background-position: bottom 45% left 50%;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: inset 0 0 4px 4px rgba(115, 205, 233, 0.863);
}